/* src/components/Layout.css */

.page-layout {
  /* This applies padding to the top/bottom (0) and left/right (2rem).
    The max-width and margin auto center the content on larger screens.
  */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}
